/* import poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #FFF;
}
html {
  background: #000;
  scroll-behavior: smooth;
  background-image: url("background.jpg");
}
.black
{
  color: #000;
}
@keyframes container
{
  0%
  {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    filter: blur(25px);
    top: 50%;
  }
  50%
  {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    filter: blur(0px);
    top: 50%;
  }
  100%
  {
    opacity: 1;
    top: 10%;
  }
}
@keyframes videofade {
  0% {
    opacity: 0;
    filter: blur(15px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
.container
{
  animation: container 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
  filter: blur(0px);
  opacity: 0;
  animation-delay: 2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff00;
  text-align: center;
  border-radius: 15px;
  border: 5px solid #ffffff;
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  backdrop-filter: blur(25px);
  
}
#myVideo {
  animation: videofade 5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  animation-delay: 1s;
  position: fixed;
  opacity: 0;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  animation-fill-mode: forwards;
  z-index: -1;
}